<!DOCTYPE html>
<html>
<head>
<% include ../partials/head %>

  <meta charset="utf-8">
  <title>Assigned Task  Information</title>
</head>
<body>
  <% include ../partials/header %>
    <h4>Edit Hours</h4>

  <form action="/employees/<%=employee._id%>?_method=PUT" method="POST">
    <h4> Task information:</h4>
    <label for="task">Task Name:</label>
    <input readonly="true "type="text"  name="taskName" value="<%=task.name%>"> <br>
    <label for="chargeNumber">Charge Number:</label>
    <input readonly="true "type="text"  name="chargeNumber" value="<%=task.chargeNumber%>"><br>
    <h4> Employee information:</h4>
    <label for="name">Employee Name: </label>
    <input readonly="true" type="text" name="employeeName" value="  <%= employee.name %> "><br>
    <label for="name">Employee ID: </label>
    <input readonly="true" type="text" name="employeeId" value="<%= employee.employeeId %>"><br>
    <label for="name">Planned hours: </label>
    <input  type="text" name="plannedHours" value="<%= employee.plannedHours %>"> <span color='red'>(required)</span>  <br>
    <input type="submit" name="go-back" value="Go back" onclick="back()">
    <input type="submit" name="add-empId" value="Save Edit">
  </form>
    <% include ../partials/footer %>
</body>
</html>
