<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>
</head>
<body>
	<% include ../partials/header %>
	<main>
		<div id='container-1' class="container">
			<h4>Team Members:</h4>
			<ul>
				<% for(var i = 0; i < employees.length; i++){ %>

					<div id='row' class="row">
						<div class="col-xs-5">
							<a href="/employees/<%=employees[i].id%>"><%=employees[i].name%> </a><hr>
						</div>
						<div class="col-xs-5">
							<a href="mailto:webmaster@example.com">	<%=employees[i].email%> </a><hr>
						</div>
						<div class="col-xs-2">

								<form action="/employees/delete/<%=employees[i].id%>?_method=DELETE" method="post">
 									<input id='button'  class="btn btn-primary" type="submit" name="delete" value="remove">
								</form>

						</div>
					</div>
					<% } %>
				</ul>
				<div id='row' class="row">
					<div class="col-xs-6">
						<nav>
							<a   id='a-create'class="btn btn-primary" href="/employees/new"> Add Employee </a>
						</nav>
					</div>
					<div class="col-xs-6">
					</div>
				</div>
			</div>


			<div id='container-2'class="container">
				<div class="row">
					<h4>Tasked Members:</h4>
				</div>
				<ul>
					<% for(var i = 0; i < taskedEmployees.length; i++){ %>
						<form action="/employees/<%=taskedEmployees[i].id%>?_method=DELETE" method="post">
							<li>
								<a href="/employees/<%=taskedEmployees[i].id%>"><%=taskedEmployees[i].name%> </a>
								<input id='button'  class="btn btn-primary" type="submit" name="delete" value="remove">
								<div class="row">
									<ul>
										<% for(var ii = 0; ii < taskedEmployees[i].tasks.length; ii++){ %>
												<div  class="row">
													<li>
													<div class="col-xs-6">
															 <%=taskedEmployees[i].tasks[ii].name%>
													</div>
													<div class="col-xs-4">
															Planned Hours:   <%=taskedEmployees[i].tasks[ii].plannedHours%>
													</div>
													<div class="col-xs-2">
														<a id='button'  class="btn btn-primary" href="/employees/<%=taskedEmployees[i]._id%>/<%=taskedEmployees[i].tasks[ii].chargeNumber%>/edit"> Edit hour</a>
													</div>
													</li>
												</div>
											<% } %>
										</ul>
									</div>
								</li>
							</form>
							<div class="row">
								<hr>
							</div>
							<% } %>
						</ul>
			</div>


				</main>
				<% include ../partials/footer %>
			</body>
			</html>
