<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
  <title>Team Members</title>
</head>
<body>
  <% include ../partials/header %>
  <main>
    <section id='all-memebers'>
      <div class="">
        <p> <%= employee.name %> </p>
        <p> <%= employee.employeeId %> </p>
        <p> <a href="mailto:<%= employee.email %>"><%= employee.email %></a></p>
        <p> <%= employee.phone %> </p>
      </div>
    </section>
    <section id='tasked-member'>
      <h2>Tasks Summary </h2>
      <ul>
        <% for(var i = 0; i < employee.tasks.length; i++){ %>
          <li>
            <%=employee.tasks[i].name;%>
            <ul>
              <li> Charge Number: <%=employee.tasks[i].chargeNumber %></li>
              <li> Planned Hours: <%=employee.tasks[i].plannedHours %></li>
            </ul>

          </li>
          <% } %>
        </ul>
      </section>
    </main>
      <% include ../partials/footer %>
  </body>
  </html>
