<!-- This file used to add new task
which do the following:
- add task package to mongoose
- add assigned employee package to mongoose -->

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Add employees to new Task</title>
  <script>
  function back() {
    window.history.back();
  }
  </script>
</head>
<body>
  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/tasks">Tasks List</a>
      </li>
      <li>
        <a href="/employees">Team Members</a>
      </li>
    </ul>
  </nav>
  <h1> Add employees to new Task</h1>



  <form class="" action="/tasks" method="post">
    <h4> Task information:</h4>
    <label for="task">Task Name:</label>
    <input readonly="true "type="text"  name="taskName" value="<%=task.name%>"> <br>
    <label for="chargeNumber">Charge Number:</label>
    <input readonly="true "type="text"  name="chargeNumber" value="<%=task.chargeNumber%>"><br>
    <label for="hours">Total hours:</label>
    <input readonly="true "type="text"  name="numberHours" value="<%=task.numHours%>"><br>
    <label for="hours">Hours remain:</label>
    <input readonly="true "type="text"  name="numberHoursRemain" value="0"><br>

    <h4> Employee information:</h4>
    <label for="name">Employee Name: </label>
    <input readonly="true" type="text" name="employeeName" value="  <%= employee.name %> "><br>
    <label for="name">Employee ID: </label>
    <input readonly="true" type="text" name="employeeId" value="<%= employee.employeeId %>"><br>
    <label for="name">Number hours: </label>
    <input  type="text" name="numberAssignedHour" value=""> <span color='red'>(required)</span>  <br>
    <input type="submit" name="go-back" value="Go back" onclick="back()">
    <input type="submit" name="add-empId" value="Add Employee">

  </form>


</body>
</html>
