<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript">
  function showDescription() {
    var name = document.getElementById("selectTask").value;
    name = 'Need question on how to show description here:  ' + name;
    document.getElementById("description").value=name;
  }

  </script>
  <meta charset="utf-8">
  <title>Available Tasks</title>
</head>
<body>
  <header>
    <h1>Tasks Tracking System</h1>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/employees">Team Members</a>
        </li>

      </ul>
    </nav>
  </header>
  <section>


  <h2> Available Tasks </h2>

  <ul>
    <% for(var i = 0; i < tasks.length; i++){ %>
      <li>
        <a  title="Description: <%=tasks[i].description%>"  href="/tasks/<%=tasks[i].id %>" > <%=tasks[i].name%></a>
      </li>
      <% } %>
    </ul>
</section>
<section>


<h2> Added  Tasks </h2>

<ul>
  <% for(var i = 0; i < tasks.length; i++){ %>
    <li>
      <a  title="Description: <%=tasks[i].description%>"href="/tasks/<%=i%>">not available at this time</a>
    </li>
    <% } %>
  </ul>
</section>
  </body>
  </html>
