<!-- This file used to add new task
which do the following:
- add task package to mongoose
- add assigned employee package to mongoose -->

<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
  <script type="text/javascript">
  function back() {
    window.history.back();
  }
  </script>
</head>
<body>
  <% include ../partials/header %>
  <div id ='container-1' class="container">
    <h4> Add employee to new Task</h4>
    <form class="" action="/tasks" method="post">
      <div class="row">
        <h4> Task information</h4>
      </div>
      <div class="row">
        <div id='col-1-show'class="col-xs-6">
          <label for="task">Task Name:</label>
        </div>
        <div id='col-2-show'class="col-xs-6">
          <input id='text'readonly="true "type="text"  name="taskName" value="<%=task.name%>"> <br>
        </div>
      </div>
      <div class="row">
        <div id='col-1-show'class="col-xs-6">
          <label for="chargeNumber">Charge Number:</label>
        </div>
        <div id='col-2-show'class="col-xs-6">
          <input id='text' readonly="true "type="text"  name="chargeNumber" value="<%=task.chargeNumber%>"><br>
        </div>
      </div>
      <div class="row">
        <div id='col-1-show'class="col-xs-6">
          <label for="hours">Total hours:</label>
        </div>
        <div id='col-2-show'class="col-xs-6">
          <input id='text' readonly="true "type="text"  name="numberHours" value="<%=task.numHours%>"><br>
        </div>
      </div>
      <div class="row">
        <div id='col-1-show'class="col-xs-6">
          <label for="hours">Hours remain:</label>
        </div>
        <div id='col-2-show'class="col-xs-6">
          <input id='text' readonly="true "type="text"  name="numberHoursRemain" value="0"><br>
        </div>
      </div>
    </div>
    <div id='container-2' class="container">
      <div class="row">
        <h4> Employee information</h4>
      </div>
      <div class="row">
        <div id='col-1-show'class="col-xs-6">
          <label for="name">Employee Name: </label>
        </div>
        <div id='col-2-show'class="col-xs-6">
          <input id='text' readonly="true" type="text" name="employeeName" value="  <%= employee.name %> "><br>
        </div>
      </div>
      <div class="row">
        <div id='col-1-show'class="col-xs-6">
          <label for="name">Employee ID: </label>
        </div>
        <div id='col-2-show'class="col-xs-6">
          <input id='text' readonly="true" type="text" name="employeeId" value="<%= employee.employeeId %>"><br>
        </div>
      </div>
      <div class="row">
        <div id='col-1-show'class="col-xs-6">
          <label for="name">Number hours: </label>
        </div>
        <div id='col-2-show'class="col-xs-6">
          <input id='text' type="text" name="numberAssignedHour" value=""> <span id='required'>(required)</span>  <br>
        </div>
      </div>
      <div class="row">
        <div id='col-1-show'class="col-xs-6">
          <input id='button'class="btn btn-primary"type="submit" name="go-back" value="Go back" onclick="back()">
        </div>
        <div id='col-2-show'class="col-xs-6">
          <input  id='button'class="btn btn-primary" type="submit" name="add-empId" value="Add Employee">
        </div>
      </div>
    </form>
  </div>

  <% include ../partials/footer %>
</body>
</html>
