<!DOCTYPE html>
<html>
<head>
<% include  ../partials/head %>
  <title>Show Task Details</title>
</head>
<body>
<% include ../partials/header %>

  <div id='container-1'class="container">

    <div class="row" id='task-name'>
      <h4> <%=task.name%> </h4>
    </div>

    <div class="row">
      <div id='col-1-show'class="col-xs-6">
        <label for="">Charge Number:</label>
      </div>
      <div id='col-2-show'class="col-xs-6">
        <p> <%=task.chargeNumber%> </p>
      </div>
    </div>
    <div class="row">
      <div id='col-1-show'class="col-xs-6">
        <label for="">Total Hours:</label>
      </div>
      <div id='col-2-show'class="col-xs-6">
        <p> <%=task.numHours%> </p>
      </div>
    </div>
    <div class="row">
      <div id='col-1-show'class="col-xs-6">
        <label for="">Number Hours Available:</label>
      </div>
      <div id='col-2-show'class="col-xs-6">
        <p> <%=task.numAvailableHours%> </p>
      </div>
    </div>
  </div>

  <div class="row"><div class="col-xs-3"></div><div class="col-xs-6">
      <hr>
  </div><div class="col-xs-3"></div></div>



  <div d='container-2'class="container">
    <div class="row">
      <div id='col-1' class="col-xs-6">
          <h5 id='col-1-h5'>Selected Employees</h5>
      </div>
      <div id='col-2' class="col-xs-6">
          <h5 id='col-2-h5'>Planned Hours</h5>
      </div>
        <hr>
    </div>

    <ul>
      <% for(var i = 0; i < employees.length; i++){ %>
        <div class="row">
           <div id='col-1'class="col-xs-6">
             <li>
               <a title="View <%=employees[i].name%>'s task information" href="/employees/<%=employees[i].id%>"><%=employees[i].name%></a>
             </li>
           </div>
            <div id='col-2'class="col-xs-6"  >
              <%=plannedHoursObjs[i].plannedHours%>
            </div>
            <div class="row">
              <hr>
            </div>
          </div>
          <% } %>
        </ul>

</div>
<% include ../partials/footer %>
    </body>
    </html>
