<!DOCTYPE html>
<html>
<head>
<% include ../partials/head %>

  <meta charset="utf-8">
  <title>Assigned Task  Information</title>
</head>
<body>
  <% include ../partials/header %>
    <h4>Edit Hours</h4>
    <div id='container-1' class="container">
      <form action="/employees/<%=employee._id%>?_method=PUT" method="POST">
        <h4> Task information:</h4>
        <div class="row">
          <div id='col-1-show'class="col-xs-6">
            <label for="task">Task Name:</label>
          </div>
          <div id='col-2-show'class="col-xs-6">
            <input id='text'readonly="true "type="text"  name="taskName" value="<%=task.name%>"> <br>
          </div>
        </div>
        <div class="row">
          <div id='col-1-show'class="col-xs-6">
            <label for="chargeNumber">Charge Number:</label>
          </div>
          <div id='col-2-show'class="col-xs-6">
            <input id='text'readonly="true "type="text"  name="chargeNumber" value="<%=task.chargeNumber%>"><br>
          </div>
        </div>
        <div class="row">
          <div id='col-1-show'class="col-xs-6">
            <label for="total hours">Total Hours:</label>
          </div>
          <div id='col-2-show'class="col-xs-6">
            <input id='text'readonly="true "type="text"  name="numHours" value="<%=task.numHours%>"><br>
          </div>
        </div>
        <div class="row">
          <div id='col-1-show'class="col-xs-6">
            <label for="available hours">Available Hours:</label>
          </div>
          <div id='col-2-show'class="col-xs-6">
            <input id='text'readonly="true "type="text"  name="numAvailableHours" value="<%=task.numAvailableHours%>"><br>
          </div>
        </div>
        <div id='container-2' class="container">
          <h4> Employee information:</h4>

          <div class="row">
            <div id='col-1-show'class="col-xs-6">
              <label for="name">Employee Name: </label>
            </div>
            <div id='col-2-show'class="col-xs-6">
           <input id='text' readonly="true" type="text" name="employeeName" value="  <%= employee.name %> "><br>
            </div>
          </div>

          <!-- <label for="name">Employee ID: </label>
          <input readonly="true" type="text" name="employeeId" value="<%= employee.employeeId %>"><br> -->
          <div class="row">
            <div id='col-1-show'class="col-xs-6">
                <label for="name">Employee ID: </label>
            </div>
            <div id='col-2-show'class="col-xs-6">
           <input id='text' readonly="true" type="text" name="employeeId" value="<%= employee.employeeId %>"><br>
            </div>
          </div>
          <div class="row">
            <div id='col-1-show'class="col-xs-6">
                  <label for="name">Planned Hours: </label>
            </div>
            <div id='col-2-show'class="col-xs-6">
             <input id='text' readonly='true' type="text" name="plannedHours" value="<%=currentPlannedHours%>"> <br>
            </div>
          </div>
          <div class="row">
            <div id='col-1-show'class="col-xs-6">
                  <label for="name">New Plan Hours: </label>
            </div>
            <div id='col-2-show'class="col-xs-6">
             <input id='text' type="text" name="newPlannedHours" value=""> <span id='required'>(required)</span>  <br>
            </div>
          </div>

          <div class="row">
            <div id='col-1-show'class="col-xs-6">
                  <input id='button'  class="btn btn-primary"type="submit" name="go-back" value="Back" onclick="back()">
            </div>
            <div id='col-2-show'class="col-xs-6">
              <input id='button'  class="btn btn-primary"type="submit" name="add-empId" value="Save Edit">
            </div>
          </div>

        </div>

      </form>
    </div>



    <% include ../partials/footer %>
</body>
</html>
