<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
  <title>Team Members</title>
</head>
<body>
  <% include ../partials/header %>
  <main>

    <div class="container" id='container-1'>
      <div class="row">
        <h4>Employee Information</h4>
      </div>
      <div class="row">
        <div id='col-1-show'class="col-xs-6">
          <label for="name">Name: </label>
        </div>
        <div id='col-2-show'class="col-xs-6">
          <input id='text' readonly="true" type="text" name="employeeName" value="<%= employee.name %>"><br>
        </div>
      </div>
      <div class="row">
        <div id='col-1-show'class="col-xs-6">
          <label for="name">Employee ID: </label>
        </div>
        <div id='col-2-show'class="col-xs-6">
          <input id='text' readonly="true" type="text" name="employeeId" value="<%= employee.employeeId %>"><br>
        </div>
      </div>

      <div class="row">
        <div id='col-1-show'class="col-xs-6">
          <label for="name">Email: </label>
        </div>
        <div id='col-2-show'class="col-xs-6">
          <input id='text' readonly="true" type="text" name="employeeEmail" value="<%= employee.email %>"><br>
        </div>
      </div>
      <div class="row">
        <div id='col-1-show'class="col-xs-6">
          <label for="name">Phone: </label>
        </div>
        <div id='col-2-show'class="col-xs-6">
          <input id='text' readonly="true" type="text" name="employeePhone" value="<%= employee.phone %>"><br>
        </div>
      </div>
    </div>

      <div id='container-2' class="container">
        <div class="row">
          <h4>Tasks Summary </h4>
        </div>
        <ul>
          <% for(var i = 0; i < employee.tasks.length; i++){ %>
            <div class="row">
              <hr>
            </div>
            <div class="row">
              <li>
                <%=employee.tasks[i].name;%>
                <ul>
                  <li> Charge Number: <%=employee.tasks[i].chargeNumber %></li>
                  <li> Planned Hours: <%=employee.tasks[i].plannedHours %></li>
                </ul>

              </li>
            </div>

            <% } %>
          </ul>
      </div>

    </main>
      <% include ../partials/footer %>
  </body>
  </html>
